@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo!!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Use os menus acima para navegar</a>.</p>
</div>
